*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;}

/* Estilos para el navbar*/
body{
    background-color: white;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 5vh;
    background-color: rgb(250, 250, 250);
    color: #b9c2e2;
    padding: 1%;
    margin: 1%; 
}
/*Estilos para el nav*/
a{
    text-decoration: none;
    color: gray;
}
/*Estilos del logo*/
.vaccination{
    margin-left: 1%;
    margin-right: 21%;
    font-size: 7vh;
    color: #155db1;
    font-weight: bold;

}
/*Estilos del resto del nav*/
.lado_derecho_nav{
    margin-left: 1%;
    margin-right: 1%;
}
/*Estilos para el h1, parrafo y la imagen*/

.contenedor_tituloeimg{
    display: flex;
    flex-wrap: wrap;
}
.triangulo1{
    position: absolute;
    right: 500px;
    
    width: 0;
    height: 0;
    border-top: 80px solid rgb(149, 149, 149);
    border-right: 80px solid transparent;
    border-left: 80px solid transparent;
    opacity: .1;
    }
.triangulo2{
    position: absolute;
    top: 330px;
    left: 560px;
    width: 0;
    height: 0;
    border-top: 130px solid transparent;
    border-right: 140px solid gray;
    border-bottom: 130px solid transparent;
    opacity: .1;
    }
.lado_izquierdo{
    position: relative;
    flex: 50%;
    display: flex;
    justify-content: center;
    background-color: rgb(250, 248, 248);
    
}
.lado_derecho{
    flex: 50%;
    
}
h1{
    font-size: 80px;
    margin-top: 20%;
    color:  #002973;
}

.descripcion{
    margin-top: 5%;
    font-size: 25px;
    line-height: 35px;
    word-spacing: 4px;
    color:  gray;
    
}

.lista_ventajas, .parte_final{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;  
    font-size: 20px;
    font-weight: bold;
    color: #002973;
    margin-top: 30px;
}

.img_ventajas{
    margin-top: 4px;
    margin-right: 4px;
}



.segundo{
    margin-left: 10%;
}

.parte_final{
    margin-top: 20%;
    font-size: 30px;
}

.reloj{
    margin-right: 4%;
}

/*Estilos para el rectangulo flotante*/
.flotante{
    
    list-style: none;
    
}

.flotante{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 750px;
    left: 140px;
    width: 890px;
    padding: 20px;
    background-color: white;
    opacity: .9;
    font-size: 25px;
    
}
.imagenes{
    width: 40px;
}
span{
    font-weight: bold;
}


.lista_flotante{
    
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    
}
button{
    margin-left: 40px;
    padding: 15px 50px;
    background-color: #001bb2;
    color: white;
    border: none;
    font-size: 28px;
}

.contenedor_logos{
    width: 100%;
    padding: 100px;
}

/*ESTILOS DEL SUBTEMA*/
.contenedor_subtema{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0;
    
    
    width: 100%;
}
.contenedor_subtema12{
    padding: 50px;
    width: 60%;
    

}
h2{
    font-size: 60px;
    color:  #002973;
}
/*ESTILOS CUADROS*/

.contenedor_cuadros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    
    width: 100%;
    
    
}
.cuadro1, .cuadro2, .cuadro3, .cuadro4{
    list-style: none;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: groove;
    
}

.sub_subtema{
    color: #001bb2;
    font-size: 24px;
    font-weight: bold;
}
.sub_descripcion{
    margin-top: 5%;
    font-size: 15px;
    line-height: 20px;
    word-spacing: 4px;
    color:  gray;
    
}
